{% load staticfiles %}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'sentiment/css/materialize.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'sentiment/css/main.css' %}"/>
<script type="text/javascript" data-main="{% static "sentiment/js/main.js" %}"  src="{% static "sentiment/js/libs/require.js" %}"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% include 'sentiment/navbar.html' %}

<div class="container">
    <!-- Page Layout here -->
    <div class="row">
        <div class="col s12 m8 l3 offset-m2">
            {% include 'sentiment/post-list.html' %}
        </div>
        <div class="col s12 m12 l9">
            {% include 'sentiment/post-details.html' %}
        </div>
    </div>
</div>




