<div id="post-sentiment-stats" class="col s12 m5 l4 offset-l1 offset-m1">

    <div id="post-real-sentiment-container">
        <div class="section">REAL SENTIMENT</div>
        <div class="divider"></div>
        <div id="post-real-sentiment-chart"></div>
    </div>

    <div id="post-determined-sentiment-container">
        <div class="section">
            <span> <span id="current-api-choice">api 1 ol</span> SENTIMENT</span>
            <!-- Dropdown Trigger -->
                <span>
                    <a id="api-dropdown-button" class="dropdown-button btn" href="#"
                       data-activates="api-dropdown-choices">
                        API <i class="material-icons">arrow_drop_down</i></a>
                </span>

            <div class="divider"></div>

            <!-- Dropdown Structure -->
            <ul id="api-dropdown-choices" class="dropdown-content">
                <!-- SAMPLE ENTRY -->
                <!-- <li data-api="sentiment_api4"><a>API 4</a></li> -->
            </ul>

        </div>

        <ul id="post-sentiment-tab-links" class="tabs hidden">
            <!-- SAMPLE ENTRY -->
            <!-- <li class="tab col s2"><a href="#sentiment_api1_ol" class="active">API 1 ol></a></li> -->
        </ul>

        <div id="post-sentiment-tabs">
            <!-- SAMPLE ENTRY -->
            <!-- <div id="sentiment_api1_ol" class="col s12"></div> -->
        </div>
    </div>
</div>