/*
.material-icons.positive{ color: #C8E6C9; }
.material-icons.negative{ color: #BCAAA4; }
.material-icons.neutral { color: #CFD8DC; }
*/

.container {
    margin-top: 0.5rem;
}

.error-msg {
    color: darkred;
    display: none;
}


/* Post list
   ================================== */
#post-list-container{
    min-height: 460px;
    margin-top: 1.4rem;
}

.post-list-item {
    display: none;
}

.post-list-item span > a {
    margin-top: 2%;
}

.post-list-item a > i {
    font-size: 1.1rem;
}


/* Post details
   ================================== */

#post-detail-container {
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
}

#post-id {
    margin: 1.5rem 0 0 0;
}

#post-social-stats {
    color: #555;
}

#post-social-stats i {
    padding: 0 0.2rem 0 1rem;
}

#post-details a {
    margin-right: 2rem;
}


/* Sentiment api stats
   ================================== */

#post-sentiment-stats ul.tabs {
    display: none;
}
#post-sentiment-stats .section {
    padding-top: 0;
    padding-bottom: 0.5rem;
}
#post-sentiment-stats i{
    font-size: 1.6rem;
    margin-right:-20%;
    vertical-align: bottom;
}
#current-api-choice {
    margin-left: 2%;
    font-weight: 300;
    vertical-align: bottom;
    text-transform: uppercase;
}

#api-dropdown-button{
    color: black;
    background-color:white;
    box-shadow:0 1px 5px 0 rgba(0, 0, 0, 0.16), 0 0px 0px 0 rgba(0, 0, 0, 0.12)
}

#post-sentiment-tabs {
    overflow: scroll;
}
