@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: local('Material Icons'), local('MaterialIcons-Regular'), url('../fonts/material-design-icons/Material-Design-Icons.woff2') format('woff2')
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    direction: ltr;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}


/*
.material-icons.positive{ color: #C8E6C9; }
.material-icons.negative{ color: #BCAAA4; }
.material-icons.neutral { color: #CFD8DC; }
*/

.error-msg {
    color: darkred;
    display: none;
}

.container {
    margin-top: 0.5rem;
}

#post-list-container,
#post-detail-container {
    min-height: 460px;
}

#post-detail-container {
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
}

#post-id {
    margin: 0.64rem 0 0 0;
}

.post-list-item p > a {
    float: right;
    margin-top: 1%;
    margin-left: 5%;
}

.post-list-item a > i {
    font-size: 1.1rem;
}

.post-list-item {
    display: none;
}

#post-stats {
    color: #555;
}

#post-stats i {
    padding: 0 0.2rem 0 1rem;
}

#post-details a {
    margin-right: 2rem;
}

#post-sentiment-stats ul.tabs {
    display: none;
}

#current-api-choice {
    margin-left: 1%;
    text-transform: uppercase;
}

#api-dropdown-button {
    margin: 3% 0;
}

#post-sentiment-tabs {
    overflow: scroll;
}
