/*
.material-icons.positive{ color: #C8E6C9; }
.material-icons.negative{ color: #BCAAA4; }
.material-icons.neutral { color: #CFD8DC; }
*/

.container {
    margin-top: 0.5rem;
}

.error-msg {
    color: darkred;
    display: none;
}

/* Post list
   ================================== */
#post-list-container {
    min-height: 460px;
    margin-top: 1.4rem;
}

.post-list-item {
    display: none;
}

.post-list-item span > a {
    margin-top: 2%;
}

.post-list-item a > i {
    font-size: 1.1rem;
    padding-left: 0.3rem;
}

/* Post details
   ================================== */

#post-detail-container {
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
}

#post-id {
    margin: 1.5rem 0 0 0;
}

#post-social-stats {
    color: #555;
    margin-bottom: 3rem;
}

#post-social-stats i:first-of-type {
    padding: 0 0.2rem 0 0rem;
}

#post-social-stats i {
    padding: 0 0.2rem 0 1rem;
}

#post-details a {
    margin-right: 2rem;
}

/* Comments
   ================================== */

#toggle-comments-button {
    cursor: pointer;
}

#toggle-comments-button:hover {
    color: black !important;
}

#toggle-comments-button i {
    vertical-align: bottom;
}

#toggle-comments-button .rotate-up {
    transition: 1s;
    transform: rotateX(180deg);
}

#toggle-comments-button .rotate-down {
    transition: 1s;
    transform: rotateX(0deg);
}

.comment-content-ol {
    font-size: 0.9rem;
    margin-left: 1rem;
    padding-left: 0.5rem;
    border-left: 1px solid #e4e4e4;
}

.comment-content-ol div {
    font-weight: 500;
}

.comment-api-link {
    float: right;
    font-size: 0.9rem;
    margin: 0 !important;
}

.comment-APIs .activator {
    cursor: pointer;
}

.comment-APIs {
    margin-top: 10px;
}

.comment-APIs .activator i {
    margin-top: -20px;
}

.comment-APIs tr {
    border-bottom: 0 !important;
}

.comment-APIs td {
    padding: 5px 10px;
}

.comment-APIs td:first-child {
    width: 110px;
    text-align: right;
    border-right: 1px solid #d0d0d0;
    padding-left: 0;
}

.comment-APIs tbody tr:not(:first-child) {
    display: none;
}

.spam i {
    padding-right: 0.5rem;
    vertical-align: bottom;
}

table.comment-full-sentiment {
    margin: 0 5%;
    max-width: 80%;
    font-size: 0.95rem;
}

table.comment-full-sentiment td:first-child {
    font-weight: 500;

}

/* Sentiment api stats
   ================================== */

#post-sentiment-tabs > div,
#post-sentiment-stats ul.tabs {
    display: none;
}

#post-sentiment-stats .section {
    padding-top: 0;
    padding-bottom: 0.5rem;
}

#post-sentiment-stats i {
    font-size: 1.6rem;
    margin-right: -20%;
    vertical-align: bottom;
}

#current-api-choice {
    text-transform: uppercase;
}

#post-determined-sentiment-container .section span {
    padding-right: 5%;
}

#api-dropdown-button {
    color: black;
    background-color: white;
    vertical-align: bottom;
    box-shadow: -1px -1px 0px 0px rgba(0, 0, 0, 0.12), 1px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

#post-real-sentiment-container {
    margin-bottom: 4rem;
}

#post-sentiment-stats .section {
    padding-bottom: 0;
    margin: 1.5rem 0 0 0;
}