<div>
    <a id="toggle-comments-button" class="grey-text text-darken-2">
        <i class="material-icons rotate-up">keyboard_arrow_down</i>
        Show/hide <span id="toggle-comment-nb">comments</span>...</a>
    <ul id="comment-list-container">
        <li class="card comment-list-item">
            <div class="card-content">
                <p class="comment-id title">COMMENT <span class="header-text title"></span>
                    <a href="#" target="_blank" class="comment-api-link">API link</a>
                </p>
                <div class="divider"></div>
                <div class="section comment-content">
                    <div class="comment-content-translated"></div>
                    <div class="comment-content-ol" class="grey-text text-darken-2"><span></span>
                        <div>Original comment</div>
                    </div>
                </div>
                <div class="divider"></div>

                <div class="spam section hide">
                    <p><i class="material-icons bottom red-text">do_not_disturb</i> spam type: <span class="spam-type"></span></p>
                </div>
                <div class="comment-APIs hide">
                    {% include 'sentiment/comment-sentiment-table.html' %}
                    <span class="activator grey-text text-darken-4"><i class="material-icons right">add</i> </span>
                </div>
            </div>

            <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">
                    <i class="material-icons right">close</i></span>
                {% include 'sentiment/comment-sentiment-table.html' %}
            </div>
        </li>
    </ul>
</div>

