<table class="comment-full-sentiment bordered">
    <thead>
    <tr>
        <td class="sentiment-api-label">api</td>
        <td>positive</td>
        <td>neutral</td>
        <td>negative</td>
    </tr>
    </thead>
    <tbody>
    <tr class="comment_real_sentiment">
        <td class="sentiment-api-label">real sentiment</td>
        <td><span class="sentiment-api-positive-value"></span></td>
        <td><span class="sentiment-api-neutral-value"></span></td>
        <td><span class="sentiment-api-negative-value"></span></td>
    </tr>
    </tbody>
</table>