<table class="comment-full-sentiment bordered">
    <tbody>
    <tr class="comment_real_sentiment">
        <td>Real sentiment</td>
        <td><span></span></td>
    </tr>

    <tr class="comment_sentiment_api1_ol">
        <td>API 1 OL</td>
        <td><span></span></td>
    </tr>

    <tr class="comment_sentiment_api1_en">
        <td>API 1 EN</td>
        <td><span></span></td>
    </tr>

    <tr class="comment_sentiment_api2_ol">
        <td>API 2 OL</td>
        <td><span></span></td>
    </tr>

    <tr class="comment_sentiment_api2_en">
        <td>API 2 EN</td>
        <td><span></span></td>
    </tr>

    <tr class="comment_sentiment_api3">
        <td>API 3</td>
        <td><span></span></td>
    </tr>

    <tr class="comment_sentiment_api4">
        <td>API 4</td>
        <td><span></span></td>
    </tr>

    </tbody>
</table>