<div class="section">
    <b>Important!</b>
    <div>This statistic is only for cca 2000 comments (ones with determined real sentiment) including the spam
        comments (i.e not cleaned data)
    </div>
</div>
<div class="divider"></div>
<div class="section">
    <div><b>Accuracy</b></div>
    <div>(#correctly predicted)/(#total comments)</div>
</div>
<div class="section">
    <div><b>Recall</b></div>
    <div>For each class: TP/(TP+FN)</div>
    <div>Tells us what proportion of {positive,negative, neutral} comments were actually predicted as
        {positive,negative, neutral}. In other words, out of all the {positive,negative, neutral} examples,
        what
        fraction did the classifier pick up?
    </div>
</div>
<div class="section">
    <div><b>Precision</b></div>
    <div>For each class: TP/(TP+FP)</div>
    <div>Tells us what proportion of labels that were predicted as {positive,negative, neutral} actually are
        {positive,negative, neutral}. In other words, out of all the examples the classifier labeled as
        {positive,negative, neutral}, what fraction were correct?
    </div>
</div>
<div class="divider"></div>

<div class="section">
    <div><b>Total sentiment predictions: </b> 6088</div>
    <div><b>Real sentiment distribution: </b> negative: 10.89%, neutral: 45.49%, positive: 43.62%</div>
</div>