<nav>
    <div class="nav-wrapper">

        <a href="#!" class="brand-logo"><span>Sentiment Analysis</span></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a href="#">Link1</a></li>
            <li><a href="#">Link2</a></li>
        </ul>
    </div>
</nav>