<ul id="post-list-container" class="collapsible" data-collapsible="accordion">
    <li class="post-list-item">
        <div class="collapsible-header">
            <i class="material-icons">keyboard_arrow_down</i>
            <span class="collapsible-header-text">Post id</span>
        </div>
        <div class="collapsible-body">
            <p class="row">
                <span class="col s10 m10 l9 post-list-content"></span>
                <span class="col s2 m2 l2 offset-l1">
                    <a class="btn-floating"><i class="material-icons">send</i></a>
                </span>
            </p>
        </div>
    </li>
</ul>
<div id="post-list-pagination"></div>
