<div id="post-detail-container" class="row">
    <div id="post-details" class="col s12 m6 l7 ">

        <p id="post-id">POST <span></span></p>
        <div class="divider"></div>
        <div class="error-msg section"></div>

        <div class="section post-content">
            <h5>Content</h5>
            <p id="post-content"></p>
            <a href="#" target="_blank" id="post-link">Original link</a>
            <a href="#" target="_blank" id="post-api-link">API link</a>
        </div>
        <div class="divider"></div>

        <div id="post-social-stats">
            <p>
                <i class="material-icons ">share</i><span id="post-shares"></span>
                <i class="material-icons">thumb_up</i><span id="post-likes"></span>
                <i class="material-icons">chat_bubble</i><span id="post-comment-nb"></span>
            </p>
        </div>
        {% include 'sentiment/comment-list.html' %}
    </div>

    {% include 'sentiment/sentiment_stats.html' %}
</div>

