<div id="post-detail-container" class="row z-depth-1">

    <div id="post-details" class="col s12 m4 l7 ">

        <p class="light" id="post-id">POST <span></span></p>
        <div class="divider"></div>
        <div class="error-msg section"></div>
        <div class="section post-content">
            <h5>Content</h5>
            <p id="post-content"></p>
            <a href="#" target="_blank" id="post-link">Original link</a>
            <a href="#" target="_blank" id="post-api-link">API link</a>
        </div>
        <div class="divider"></div>
        <div id="post-stats">
            <p>
                <i class="material-icons ">share</i><span id="post-shares"></span>
                <i class="material-icons">thumb_up</i><span id="post-likes"></span>
                <i class="material-icons">chat_bubble</i><span id="post-comment-nb"></span>
            </p>
        </div>
    </div>

    <div id="post-sentiment-stats" class="col s12 m7 l4 offset-l1 offset-m1">
        <div class="section">
            <!-- Dropdown Trigger -->
            <a id="api-dropdown-button" class="dropdown-button btn" href="#" data-activates="api-dropdown-choices">
                choose API </a>
            <!-- Dropdown Structure -->
            <ul id="api-dropdown-choices" class="dropdown-content">
                <li data-api="sentiment_api1_ol"><a>API 1 <sub><sup>ol</sup></sub></a></li>
                <li data-api="sentiment_api1_en"><a>API 1 <sub><sup>en</sup></sub></a></li>
                <li class="divider"></li>
                <li data-api="sentiment_api2_ol"><a>API 2 <sub><sup>ol</sup></sub></a></li>
                <li data-api="sentiment_api2_en"><a>API 2 <sub><sup>en</sup></sub></a></li>
                <li class="divider"></li>
                <li data-api="sentiment_api3"><a>API 3</a></li>
                <li class="divider"></li>
                <li data-api="sentiment_api4"><a>API 4</a></li>
            </ul>
            <div id="current-api-choice" class="chip">sentiment api1 ol</div>
        </div>
        <div class="divider"></div>

        <ul class="tabs hidden">
            <li class="tab col s2"><a href="#sentiment_api1_ol" class="active">API1 ol></a></li>
            <li class="tab col s2"><a href="#sentiment_api1_en">API 1 en</a></li>
            <li class="tab col s2"><a href="#sentiment_api2_ol">API 2 ol</a></li>
            <li class="tab col s2"><a href="#sentiment_api2_en">API 2 en</a></li>
            <li class="tab col s2"><a href="#sentiment_api3">API 3</a></li>
            <li class="tab col s2"><a href="#sentiment_api4">API 4</a></li>
        </ul>

        <div id="post-sentiment-tabs">
            <div id="sentiment_api1_ol" class="col s12"></div>
            <div id="sentiment_api1_en" class="col s12"></div>
            <div id="sentiment_api2_ol" class="col s12"></div>
            <div id="sentiment_api2_en" class="col s12"></div>
            <div id="sentiment_api3" class="col s12"></div>
            <div id="sentiment_api4" class="col s12"></div>
        </div>
    </div>
</div>

