<ul id="post-list-container" class="collapsible" data-collapsible="accordion">
    <li class="post-list-item">
        <div class="collapsible-header">
            <i class="material-icons">insert_drive_file</i>
            <span class="collapsible-header-text">Post id</span>
        </div>
        <div class="collapsible-body"><p>Post comment etc</p></div>
    </li>
</ul>

<div id="post-list-pagination"></div>
<ul class="pagination center-align">
    <li class="disabled"  data-page="prev" id="prev-page-chevron">
        <a href="#!"><i class="material-icons">chevron_left</i></a>
    </li>
    <li class="active"   data-page="1">
        <a href="#!">1</a>
    </li>
    <li class="disabled" data-page="next" id="next-page-chevron">
        <a href="#!"><i class="large material-icons">chevron_right</i></a>
    </li>
</ul>
