{% load staticfiles %}
{% load metric_filters %}

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="{% static 'sentiment/css/materialize.css' %}">
<link rel="stylesheet" href="{% static 'sentiment/css/stats.css' %}">

<script src="{% static 'sentiment/js/libs/jquery-2.2.3.min.js' %}"></script>
<script src="{% static 'sentiment/js/libs/materialize.min.js' %}"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

{% include 'sentiment/navbar.html' %}

<div class="container">
    <div class="section">
        <b>Important!</b>
        <p>This statistic is only for cca 2000 comments (ones with determined real sentiment) including the spam
            comments (i.e not cleaned data)</p>
        <div class="section">
            <div><b>Accuracy</b></div>
            <div>(#correctly predicted)/(#total comments)</div>
        </div>
        <div class="section">
            <div><b>Recall</b></div>
            <div>For each class: TP/(TP+FN)</div>
            <div>Tells us what proportion of {positive,negative, neutral} comments were actually predicted as
                {positive,negative, neutral}. In other words, out of all the {positive,negative, neutral} examples, what
                fraction did the classifier pick up?
            </div>
        </div>
        <div class="section">
            <div><b>Precision</b></div>
            <div>For each class: TP/(TP+FP)</div>
            <div>Tells us what proportion of labels that were predicted as {positive,negative, neutral} actually are
                {positive,negative, neutral}. In other words, out of all the examples the classifier labeled as
                {positive,negative, neutral}, what fraction were correct?
            </div>
        </div>

    </div>
    <div class="row">
        <ul id="api-stats-list" class="collapsible popout col s12 m10 l7" data-collapsible="expandable">
            {% for api in stats %}
                <li>
                    <div class="collapsible-header grey-text text-darken-3"><i
                            class="material-icons ">list</i>{{ api.api_id | prettify_api_id }}</div>
                    <div class="collapsible-body">
                        {% include 'sentiment/api-evaluation-table.html' %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>

<script src="{% static 'sentiment/js/stats.js' %}"></script>





